pyrogram==2.0.106
tgcrypto==1.2.5
Flask==2.3.3
gunicorn==21.2.0
google-api-python-client==2.138.0
google-auth==2.32.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
pymongo==4.10.1
python-dotenv==1.0.1
requests==2.32.3
